.gigs .gigs-container {
  max-width: 1400px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.gigs .sticky-wrapper {
  backface-visibility: hidden;
  min-height: 70px;
  top: -1px;
  transition: all 0.3s ease;
}

.togglers-wrapper
  .ant-switch.ant-switch-small.ant-switch-checked
  .ant-switch-inner {
  background-color: #1dbf73;
}

.togglers-wrapper .ant-switch.ant-switch-small .ant-switch-inner {
  background-color: #d8d9dc;
}

.floating-menu:first-child {
  margin-left: 0;
}

.floating-menu .more-filter-menu:hover {
  border: 1px solid #222325;
}

.floating-menu .more-filter-menu {
  border: 1px solid #e4e5e7;
  border-radius: 8px;
  display: flex;
  align-items: center;
  min-height: 48px;
  min-width: 50px;
  padding: 12px 16px;
  transition: border-color 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  user-select: none;
}

.togglers-wrapper .toggler-wrapper:last-child {
  margin-right: 0;
}

.sticky-hoc {
  top: -1px;
  z-index: 11;
}

.filter-button-wrapper .sort-button,
.filter-button-wrapper .touch-filter {
  background: #fff;
  border: 1px solid #dadbdd;
  color: #404145;
  font-size: 12px;
  height: 42px;
  padding: 8px 0;
  width: calc(50% - 5px);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);
}

.sticky-hoc .filter-button-wrapper .touch-filter:before {
  fill: #1dbf73;
  background: transparent
    url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/search_perseus/filter-green.dbee906.svg)
    no-repeat 0 0;
  background-size: 18px;
  content: "";
  display: inline-block;
  height: 19px;
  margin-right: 10px;
  vertical-align: middle;
  width: 18px;
}

.filter-button-wrapper .touch-filter:before {
  fill: #1dbf73;
  background: transparent
    url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/search_perseus/filter.15e0cb1.svg)
    no-repeat 0 0;
  background-size: 18px;
  content: "";
  display: inline-block;
  height: 19px;
  margin-right: 10px;
  vertical-align: middle;
  width: 18px;
}

.filter-button-wrapper .sort-button:before {
  fill: #1dbf73;
  background: transparent
    url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/search_perseus/sort.e79155c.svg)
    no-repeat 0 0;
  background-size: 18px;
  content: "";
  display: inline-block;
  height: 19px;
  margin-right: 10px;
  vertical-align: middle;
  width: 18px;
}

.gigs .gigs-container .pagination {
  margin: 30px auto;
  padding: 15px 0;
}

.gigs .gigs-container .ant-pagination-disabled {
  display: none;
}

.gigs .gigs-container .ant-pagination-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c5c6c9;
  border-radius: 0;
}

.gigs .gigs-container .ant-pagination-item-link svg {
  font-size: 16px;
  color: #74767e;
  font-weight: 500;
}

.gigs .gigs-container .ant-pagination .ant-pagination-item-active a {
  color: #222325;
}

.gigs .gigs-container .ant-pagination .ant-pagination-item-active {
  background-color: #fafafa;
  border: 1px solid #c5c6c9;
}

.gigs .gigs-container .ant-pagination .ant-pagination-item {
  border: 1px solid #c5c6c9;
  border-radius: 0;
}

.gigs .gigs-container .ant-pagination .ant-pagination-item:hover {
  background-color: #fafafa;
}

@media only screen and (min-width: 767px) {
  .gigs {
    padding-top: 32px;
  }
  .gigs .gigs-container {
    padding: 0 32px;
  }
}

@media screen and (max-width: 767px) {
  .gigs .gigs-container .pagination {
    margin: 0 auto;
    padding: 15px 0;
  }
}

@media screen and (min-width: 900px) {
  .gigs .gigs-container .pagination {
    padding: 0;
    margin: 32px auto;
  }
  .gigs .gigs-container .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1160px) {
  .gigs .gigs-container .cards {
    grid-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
