@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset CSS */
body {
  background-color: #fff;
  color: #62646a;
  position: relative;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #404145;
  font-weight: 700;
}

td,
td img {
  vertical-align: top;
}

td {
  font-weight: 400;
}
